* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    background-color: #EBEBED;
    font-family:cursive;
    margin: 0px 120px 0px 120px;
}

main {
    text-align:start ;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 10px;
}


.logo_pajariando {
    margin-left: 2rem;
    font-weight: bold;
    gap: 0.5rem;
}

.logo {
    text-decoration: none;
    color: black;
}


.logo_pajariando img {
    width: 5rem;
    
    /* heigh: 8rem; */
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    width: auto;
}

.enviar_header {
    background-color: #617E23 ;
    border: none;
    border-radius: 0.5rem;
    padding: 10px ;
}

.main_left {
    background-color: #D6C7AE;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.main_center {
    background-color: #A9B741;
    border-radius: 0.5rem;
    color: #04364A;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.main_rigth {
    background-color: #D6C7AE;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
}

.img_bird {
    width: 10rem;
}

 .bird_center {
    width: 12rem;
    height: 10rem;
 }

